---

export interface Props extends Astro.HTMLComponentProps<"div"> {
    notification: DjangoAPI.Notification;
}

const {
    notification = {} as DjangoAPI.Notification,
    ...props
} = Astro.props;

if (!Object.keys(notification).length) {
    Object.assign(notification, (await import("@assets/dummy/notification.json")).default);
}
---

<div {...props}>
    <div>{notification.id}</div>
    <div>{notification.message}</div>
    <div>{notification.read}</div>
    <div>{notification.related_object_id}</div>
    <div>{notification.related_object_uuid}</div>
    <div>{notification.status.name}</div>
</div>