---
import { DjangoURLs } from "@assets";
import { Icon } from "astro-icon/components";
import Layouts from "@layouts";
import { Utils, Tabs } from "@components";
import * as Flow from "@astropub/flow";

type TabType = {
    name: string;
    Component: (_props: any) => {};
    icon: string;
    props: Object;
};

const defaultTab = "Home"; 
const tabs: TabType[] = [
  {
    name: "Home",
    Component: Tabs.Home,
    icon: "heroicons:home",
    props: {}
  },
  {
    name: "Workspaces",
    Component: Tabs.Workspaces,
    icon: "tabler:briefcase",
    props: {}
  },
  {
    name: "Tasks",
    Component: Tabs.Tasks,
    icon: "heroicons:wrench-screwdriver",
    props: {}
  },
  {
    name: "Results",
    Component: Tabs.Results,
    icon: "heroicons:archive-box",
    props: {}
  },
  {
    name: "Settings",
    Component: Tabs.Settings,
    icon: "heroicons:cog-8-tooth",
    props: {}
  }
];
---

<Layouts.Base title="Profile">
    <div x-data="{ currentMainTab: 'Home', isCurrentTab(el, tab) { return tab === el.dataset.tab; } }" 
        class="bg-base-100 text-base-content h-[100dvh] max-h[100dvh] w-[100dvw] max-w-[100dvw] grid grid-cols-[auto_1fr] overflow-clip">

        <aside class="w-64 flex flex-col p-6 border-none">
            <div class="flex items-center justify-start gap-3 mb-6 ">
                <div class="btn btn-circle btn-ghost">
                    <Icon name="heroicons:bars-4"/>
                </div>
                <img class="w-20 h-10" src="https://picsum.photos/100/200" alt="Logo" />
                <h1 class="text-xl font-bold">DTH</h1>
            </div>

            <div class="flex items-center justify-start gap-3 mb-6 -mx-2 p-2 border-1 rounded-box">
                <div class="avatar">
                    <div class="w-12 rounded-full">
                        <img src="https://picsum.photos/100" alt="User Avatar" />
                    </div>
                </div>
                <div>
                    <p class="font-semibold">Fillio Team</p>
                    <p class="text-sm text-gray-500">hello@fillio.com</p>
                </div>
                <label class="justify-self-end">
                    <Icon name="mdi:chevron-up"/>
                </label>
            </div>

            <h2 class="uppercase text-xs font-semibold text-gray-500 mb-2">Menu</h2>
            <menu class="menu w-full flex flex-col gap-1">
                <Flow.For of={tabs}>{tab => 
                    <li><a data-tab={tab.name}
                        class="flex items-center gap-2"
                        x-bind:class="isCurrentTab($el, currentMainTab) && 'menu-active'"
                        x-on:click="currentMainTab = $el.dataset.tab">
                        <Icon class="size-8" name={tab.icon}/>
                        <span>{tab.name}</span>
                    </a></li>
                }</Flow.For>
            </menu>
        </aside>
        
        <main class="grid grid-rows-[auto_1fr] w-full max-h-[100dvh]">
            <header class="flex justify-end items-center gap-6 p-6">
                <input type="text" 
                    placeholder="Search here..." 
                    class="input input-bordered max-w-x" />
                    
                <div class="flex items-center gap-2">
                    <Utils.DaisyUIThemeSwitcher.Toggle 
                        darkTheme="night" 
                        lightTheme="bumblebee"
                    />

                    <Icon role="button" class="btn btn-circle btn-ghost size-10 p-1" name="mdi:bell"/>
                    
                    <Utils.Popover placement="bottom end" openOnHover={true}>
                        <label class="avatar online size-10" slot="popover-trigger">
                            <div class="w-10 rounded-full">
                                <img src="https://picsum.photos/200" alt="User Avatar" />
                            </div>
                        </label>
                        <menu slot="popover-content" class="menu menu-compact gap-1 w-30 border-1 rounded-box bg-base-100">
                            <li><a>Set Theme</a></li>
                            <li><form method="POST" action={DjangoURLs.api.user.auth.logout()}>
                                <input type="submit" value="Logout">
                            </form></li>
                        </menu>
                    </Utils.Popover>
                </div>
            </header>

            <div class="bg-base-300 rounded-tl-3xl overflow-y-auto">
                <Flow.For of={tabs}>{tab => 
                    <tab.Component data-tab={tab.name} 
                        class="size-full p-10 flex flex-col"
                        x-show="isCurrentTab($el, currentMainTab)"
                        x-cloak={tab.name !== defaultTab ? true : undefined}
                        {...tab.props}>
                    </tab.Component>
                }</Flow.For>
            </div>
        </main>

        <Utils.Modal id="accountDeletionConfirmModal" type="btn trigger">
            <button class="btn" slot="trigger-btn"><Icon name="heroicons:x-mark-16-solid"/></button>
            <div>TO IMPLEMENT</div>
        </Utils.Modal>
    </div>
</Layouts.Base>