---
import { Notifications } from "@components";
import { DjangoURLs, SVGURLs, StylesURLs } from "@assets";

const { title } = Astro.props;
const csrfToken = Astro.request.headers.get("x-csrftoken") || "";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={SVGURLs.Favicon} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="stylesheet" href={StylesURLs.Global}>
		<script>
			import Utils from "@lib/utils";
			import { DateTime } from "luxon";
			import htmx from "htmx.org"; 
			import "htmx-ext-sse"; 
			
			(async () => {
				// @ts-ignore
				window.luxon = { DateTime };
				window.htmx = htmx;
				window.utils = Utils;
				
				const htmxExtension = "https://unpkg.com/htmx-ext-form-json";
				await import(/* @vite-ignore */ htmxExtension);
			})();
		</script>
	</head>
	<body hx-headers={`{"X-CSRFToken": "${csrfToken}"}`} hx-ext="form-json">
		<slot />
		<Notifications.ToastContainer 
			notificationChannelURL={DjangoURLs.sseEventChannel("notifications").self()} />
	</body>
</html>
