---
import { mergeClass, mergeStyle } from "@utils";

type TailwindCSSBreakpoint = "xs" | "sm" | "md" | "lg" | "xl" | "2xl";

export interface Props extends Astro.ComponentProps {
    drawerSide?: "left" | "right" | "top" | "bottom";
    breakpoint: TailwindCSSBreakpoint | number;
}

const {
    drawerSide = "left",
    breakpoint,
    class: className,
    style,
    ...props
} = Astro.props;

const isDrawerVertical = ["top", "bottom"].includes(drawerSide);
const isSidebarFirst = ["top", "left"].includes(drawerSide);

const drawerClasses = mergeClass(
    "grid grid-template-(--grid-template) relative isolate",
    className,
);

const gridTemplate = (() => {
    const layout = [
        { area: "drawer-sidebar", size: "auto" },
        { area: "drawer-content", size: "1fr" },
    ];

    if (!isSidebarFirst) layout.reverse();

    const [first, second] = layout;

    return isDrawerVertical
        ? `"${first.area}" ${first.size} "${second.area}" ${second.size} / auto`
        : `"${first.area} ${second.area}" auto / ${first.size} ${second.size}`;
})();

const drawerStyles = mergeStyle(style, {
    "--grid-template": gridTemplate,
});

const dynamicProps = {
    [`x-screen:${breakpoint}`]: `handlePassingBreakpoint($mediaQuery.matches)`,
};
const drawerSidebarStyles = mergeStyle({
    "grid-area": "drawer-sidebar",
    [drawerSide]: "0",
    [`${isDrawerVertical ? "left" : "top"}`]: "0",
    [`${isDrawerVertical ? "right" : "bottom"}`]: "0",
});
---

<script>
    interface DrawerLayout {
        mode: "largeScreen" | "smallScreen";
        isSidebarOpen: boolean;
        isSmallScreenSidebarOverlayVisible: boolean;
        wasSidebarOpenInSmallScreenMode: ReturnType<
            typeof window.Alpine.$persist<boolean>
        >;

        openSidebar(): void;
        closeSidebar(): void;
        toggleSidebar(): void;
        handlePassingBreakpoint(flag: boolean): void;
    }
    //@ts-ignore
    window.DrawerLayout = function () {
        return {
            mode: "largeScreen",
            isSmallScreenSidebarOverlayVisible: false,
            isSidebarOpen: false,
            wasSidebarOpenInSmallScreenMode:
                window.Alpine.$persist(false).using(localStorage),

            openSidebar() {
                if (this.mode === "smallScreen") {
                    this.isSmallScreenSidebarOverlayVisible = true;
                    this.wasSidebarOpenInSmallScreenMode = true;
                }
                this.isSidebarOpen = true;
            },

            closeSidebar() {
                if (this.mode === "largeScreen") return;

                this.wasSidebarOpenInSmallScreenMode = false;
                this.isSidebarOpen = false;
                this.isSmallScreenSidebarOverlayVisible = false;
            },

            toggleSidebar() {
                this.isSidebarOpen ? this.closeSidebar() : this.openSidebar();
            },

            handlePassingBreakpoint(flag) {
                if (flag) {
                    this.mode = "largeScreen";
                    this.openSidebar();
                    this.isSmallScreenSidebarOverlayVisible = false;
                } else {
                    this.mode = "smallScreen";
                    this.wasSidebarOpenInSmallScreenMode
                        ? this.openSidebar()
                        : this.closeSidebar();
                }
            },
        } as AlpineJSComponent.Generic<DrawerLayout>;
    };
</script>

<div
    x-data="DrawerLayout()"
    class={drawerClasses}
    style={drawerStyles}
    {...dynamicProps}
    {...props}
>
    <main style="grid-area: drawer-content" class="-z-1">
        <slot name="drawer-content" />
    </main>
    <aside
        class="z-999"
        x-bind:class="{ 'hidden': !isSidebarOpen, 'absolute': mode ==='smallScreen' }"
        style={drawerSidebarStyles}
    >
        <slot name="drawer-sidebar" />
    </aside>

    <label
        x-cloak
        x-show="isSmallScreenSidebarOverlayVisible"
        @click="closeSidebar()"
        class="absolute inset-0 z-1 bg-neutral-900/50"
        aria-label="close sidebar"></label>
</div>
