---
import { DjangoURLs } from "@assets";
import { BaseLayout } from "@layouts";
import { getURLWithBaseIfDev } from "@utils";

const { app_name: appName } = Astro.props;
---

<BaseLayout title="Home">
	<div class="grid grid-flow-row h-screen w-screen grid-cols-3 gap-4 bg-base-100">
		<a class="btn btn-ghost size-full border-4 border-neutral-300" href={getURLWithBaseIfDev(DjangoURLs.profile())}>Profile</a>
		<a class="btn btn-ghost size-full border-4 border-neutral-300" href={getURLWithBaseIfDev(DjangoURLs.login())}>Login</a>
		<a class="btn btn-ghost size-full border-4 border-neutral-300" href={getURLWithBaseIfDev(DjangoURLs.register())}>Register</a>
		<form method="POST" action={DjangoURLs.api.user.auth.logout()}>
			<input type="submit" class="btn btn-ghost size-full border-4 border-neutral-300" value="Logout">
		</form>
		<div>{appName}</div>
	</div>
</BaseLayout>