---
import { DjangoURLs } from "@assets";
import { Icon } from "astro-icon/components";
import { BaseLayout, GridLayout, ClampLayout, SubgridLayout, FlexLayout } from "@layouts";
import { DaisyUIThemeSwitcher, Popover, Modal } from "@components";
import * as Flow from "@astropub/flow";

type TabType = {
    name: string;
    icon: string;
    props: Object;
};

const defaultTab = "Home"; 
const tabs: TabType[] = [
  {
    name: "Home",
    icon: "heroicons:home",
    props: {}
  },
  {
    name: "Workspaces",
    icon: "tabler:briefcase",
    props: {}
  },
  {
    name: "Tasks",
    icon: "heroicons:wrench-screwdriver",
    props: {}
  },
  {
    name: "Results",
    icon: "heroicons:archive-box",
    props: {}
  },
  {
    name: "Settings",
    icon: "heroicons:cog-8-tooth",
    props: {}
  }
];
---

<BaseLayout title="Profile">
    <div class="contents">
        <ClampLayout melt width={{ base: "100dvw", max: "100dvw" }} height={{ base: "100dvh", max: "100dvh" }}>
            <GridLayout melt cols={["auto", "1fr"]} rows={["auto", "1fr"]}>
                <div x-data="{ currentMainTab: 'Home', isCurrentTab(el, tab) { return tab === el.dataset.tab; } }" 
                    class="bg-base-100 text-base-content overflow-clip">
            
                    <SubgridLayout melt axis="row" rowSpan={2}>
                        <aside class="w-64 p-6 border-none">
                            <FlexLayout placement={"start center"} gap={3} class="mb-6">
                                <button class="p-1">
                                    <Icon class="size-full" name="heroicons:bars-4"/>
                                </button>
                                <img class="w-20 h-10" src="https://picsum.photos/100/200" alt="Logo" />
                                <h1 class="text-xl font-bold">DTH</h1>
                            </FlexLayout>
                
                            <div>
                                <FlexLayout placement={"start center"} gap={3} class="mb-6 -mx-2 p-2 border-1 rounded-box">
                                    <div class="avatar">
                                        <div class="w-12 rounded-full">
                                            <img src="https://picsum.photos/100" alt="User Avatar" />
                                        </div>
                                    </div>
                                    <div>
                                        <p class="font-semibold">Fillio Team</p>
                                        <p class="text-sm text-gray-500">hello@fillio.com</p>
                                    </div>
                                    <Icon class="size-full" name="mdi:chevron-up"/>
                                </FlexLayout>
                    
                                <h2 class="uppercase text-xs font-semibold mb-2 text-primary">Menu</h2>
                                
                                <FlexLayout direction={"col"} gap={1}>
                                    <menu class="menu">
                                        <Flow.For of={tabs}>{tab => 
                                            <li>
                                                <FlexLayout melt placement={"start center"} gap={2}>
                                                    <a data-tab={tab.name}
                                                        x-bind:class="isCurrentTab($el, currentMainTab) && 'menu-active'"
                                                        x-on:click="currentMainTab = $el.dataset.tab">
                                                        <Icon class="size-8" name={tab.icon}/>
                                                        <span>{tab.name}</span>
                                                    </a>
                                                </FlexLayout>
                                            </li>
                                        }</Flow.For>
                                    </menu>
                                </FlexLayout>
                            </div>
                        </aside>
                    </SubgridLayout>
                    
                    <SubgridLayout melt rowSpan={2}>
                        <main class="min-h-0">
                            <FlexLayout melt placement={"end center"} gap={6}>
                                <header class="p-6">
                                    <input type="text" 
                                        placeholder="Search here..." 
                                        class="input input-bordered max-w-x" />
                                        
                                    <FlexLayout gap={2} placement={"center center"}>
                                        <DaisyUIThemeSwitcher.Toggle 
                                            darkTheme="night" 
                                            lightTheme="bumblebee"
                                        />
                                        
                                        <button class="p-1">
                                            <Icon class="size-full" name="mdi:bell"/>
                                        </button>
                                        
                                        <Popover placement="bottom end" openOnHover={true}>
                                            <label slot="popover-trigger" class="avatar online size-10">
                                                <div class="w-10 rounded-full">
                                                    <img src="https://picsum.photos/200" alt="User Avatar" />
                                                </div>
                                            </label>
                                            <menu slot="popover-content" class="menu menu-compact gap-1 w-30 border-1 rounded-box bg-base-100">
                                                <li><a>Set Theme</a></li>
                                                <li><form method="POST" action={DjangoURLs.api.user.auth.logout()}>
                                                    <input type="submit" value="Logout">
                                                </form></li>
                                            </menu>
                                        </Popover>
                                    </FlexLayout>
                                </header>
                    
                            </FlexLayout>
                            <div class="bg-base-300 rounded-tl-3xl min-h-0 overflow-y-auto">
                                <Flow.For of={tabs}>{tab => 
                                        <section data-tab={tab.name} 
                                            x-show="isCurrentTab($el, currentMainTab)"
                                            class="flex flex-col p-10"
                                            x-cloak={tab.name !== defaultTab ? true : undefined}
                                            {...tab.props}>
                                        </section>
                                }</Flow.For>
                            </div>
                        </main>
                    </SubgridLayout>
            
                    <Modal id="accountDeletionConfirmModal" type="btn trigger">
                        <button slot="trigger-btn">
                            <Icon name="heroicons:x-mark-16-solid"/>
                        </button>
                        <div>TO IMPLEMENT</div>
                    </Modal>
                </div>
            </GridLayout>
        </ClampLayout>
    </div>
</BaseLayout>