---
import * as Flow from "@astropub/flow";
import {
    DaisyUIDarkThemes,
    DaisyUILightThemes,
    type DaisyUIDarkTheme,
    type DaisyUILightTheme,
} from "./daisyUIThemes";

type ThemeSwitcherType =
    | "toggle"
    | "checkbox"
    | "swap"
    | "text toggle"
    | "icon toggle"
    | "toggle icons inside";

interface Props extends Astro.HTMLComponentProps<"div"> {
    id?: string;
    type?: ThemeSwitcherType;
    darkTheme: DaisyUIDarkTheme;
    lightTheme: DaisyUILightTheme;
}

const {
    id = "daisyui-theme-controller",
    type = "toggle",
    lightTheme,
    darkTheme,
    ...props
} = Astro.props;

if (!lightTheme || !DaisyUILightThemes.includes(lightTheme)) {
    throw new Error(`No such light theme ${lightTheme}!`);
}
if (!darkTheme || !DaisyUIDarkThemes.includes(darkTheme)) {
    throw new Error(`No such dark theme ${darkTheme}!`);
}
---

<div
    id={id}
    {...props}
    data-light-theme={lightTheme}
    data-dark-theme={darkTheme}
    x-data="ToggleThemeController">
    <Flow.Switch of={type}>
        <Flow.Case of={"toggle"}>
            <input
                type="checkbox"
                x-model="themeChangeFlag"
                class="toggle"
            />
        </Flow.Case>
        <Flow.Case of={"checkbox"}>
            <input
                type="checkbox"
                x-model="themeChangeFlag"
                class="checkbox theme-controller"
            />
        </Flow.Case>
        <Flow.Case of={"swap"}>
            <div class="swap">
                <input
                    type="checkbox"
                    x-model="themeChangeFlag"
                    class="toggle theme-controller"
                />
                <slot name="light-icon" />
                <slot name="dark-icon" />
            </div>
        </Flow.Case>
        <Flow.Case of={"text toggle"}>
            <label class="flex cursor-pointer gap-2">
                <span class="label-text">
                    <slot name="light-text" />
                </span>
                <input
                    type="checkbox"
                    x-model="themeChangeFlag"
                    class="toggle theme-controller"
                />
                <span class="label-text">
                    <slot name="dark-text" />
                </span>
            </label>
        </Flow.Case>
        <Flow.Case of={"icon toggle"}>
            <label class="flex cursor-pointer gap-2">
                <slot name="light-icon" />
                <input
                    type="checkbox"
                    x-model="themeChangeFlag"
                    class="toggle theme-controller"
                />
                <slot name="dark-icon" />
            </label>
        </Flow.Case>
        <Flow.Case of={"toggle icons inside"}>
            <label class="toggle text-base-content">
                <input
                    type="checkbox"
                    x-model="themeChangeFlag"
                    class="theme-controller"
                />
                <slot name="light-icon" />
                <slot name="dark-icon" />
            </label>
        </Flow.Case>
    </Flow.Switch>
</>

<script>
    window.addEventListener("alpine:init", () => {
        window.Alpine.data("ToggleThemeController", () => ({
            theme: window.Alpine.$persist('none').as("daisyUITheme").using(sessionStorage),
            themeChangeFlag: false,

            init() {
                document.documentElement.dataset.theme = this.theme;
                const mediaQuery = window.matchMedia('(prefers-color-scheme: dark)');
                mediaQuery.matches && (this.themeChangeFlag = true);
                mediaQuery.addEventListener('change', e => { 
                        this.themeChangeFlag = e.matches;
                });
                this.$watch("themeChangeFlag", (value) => {
                    const theme = value ? this.$el.dataset.darkTheme : this.$el.dataset.lightTheme;
                    theme && (this.theme = theme) && (document.documentElement.dataset.theme = theme);
                })
            },
        }));
    });
</script>